@use 'base/variables' as v;
@use 'base/mixins' as m;

.habilidades {
  padding-top: v.$separacion;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__contenedor {
    @include m.desktop {
      width: 60rem;
    }
  }
  @include m.mobil {
    justify-content: center;
    align-items: center;
  }
}
